<template>
  <div>
    <div class="modal-dialog" v-if="isShow">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" @click="isShow = false">×</button>
          <h5 class="modal-title"><i class="fa  fa-edit"></i> Ajouter une application </h5>
        </div>
        <div class="modal-body">
              <form v-on:submit.prevent="Ajouter">
                <div class="panel-body">
                    <div class="form-group" v-bind:class="{'open':open}">
                      <label>Nom ou package de l'application : </label>
                      <input autocomplete="on" v-model="key" :value="key" name="search" type="text" class="form-control" placeholder="Name or packageName" @input="updateValue()"
                      @keydown.enter = 'enter'
                      @keydown.down = 'down'
                      @keydown.up = 'up' required>
                      <ul class="dropdown-menu" style="width:94%" v-if="key">
                        <li v-for="(suggestion, index) in suggestions" v-bind:class="{'active': isActive(index)}" >
                          <a @click="suggestionClick(index)" class="suggestions-fix" style="user-select: none;"><img :src="suggestion.logo" height="25px">  {{ suggestion.name.substring(0, 55) }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <footer class="panel-footer text-right bg-light lter">
                    <button class="btn btn-success btn-s-xs">Ajouter</button>
                  </footer>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-md pull-left btn-default" @click="isShow = false">Fermer</button>
         </div>
      </div>
    </div>
    <section id="content">
      <section class="vbox">
        <header class="header bg-white b-b b-light">
          <p>Liste des applications de {{name}}</p>
        </header>
        <section class="scrollable padder col-sm-12">
          <div class="text-right lter">
            <button class="btn btn-s-md btn-warning" @click="isShow = true">Ajouter une application</button>
          </div>
          <section class="panel panel-default">
            <header class="panel-heading">
              Liste des applications
            </header>
            <div class="table-responsive">
              <table class="table table-striped m-b-none">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Logo</th>
                    <th>Nom de l'application</th>
                    <th>packageName</th>
                    <th>categories</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="app in apps" v-bind:class="{ bgred: app.suspended }">
                    <td><h5>{{apps.indexOf(app)+1}}</h5></td>
                    <td><img :src="app.logo" height="35px"></td>
                    <td><h5>{{app.name}}</h5></td>
                    <td><h5>{{app.packageName}}</h5></td>
                    <td><span v-for="cat in app.categories">{{cat}}</span></td>
                    <td><a href="#" class="btn btn-s-md btn-danger" @click="deleteApp(apps.indexOf(app))">Supprimer</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </section>
      </section>
    </section>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  async asyncData ({ params, error }) {
    const { data } = await axios.get(`http://52.173.91.140/bundles/${params.name}/checkAll`)
    console.log(data)
    return {
      apps: data
    }
  },
  data () {
    return {
      isShow: false,
      open: false,
      current: 0,
      suggestions: [],
      key: ''
    }
  },
  created () {
    this.isSuspended()
  },
  methods: {
    fetchAll () {
      let uri = 'http://52.173.91.140/bundles/' + this.name + '/checkAll'
      axios.get(uri, { timeout: 15000 }).then((response) => {
        this.apps = response.data.apps
      })
    },
    isSuspended () {
      var res = {}
      var sus = 0
      for (var app in this.apps) {
        if (app.suspended) {
          sus = sus + 1
        }
      }
      res['msg'] = 'il y a ' + sus + ' applications suspended'
      res['type'] = 'alert-info'
      res['titre'] = 'Information'
      res['isActive'] = true
      this.$store.commit('setItems', res)
    },
    deleteApp (id) {
      let uri = `http://52.173.91.140/bundles/` + this.name + '/' + this.apps[id].packageName
      var res = {}
      axios.delete(uri, { timeout: 15000 }).then((response) => {
        this.apps.splice(id, 1)
        res['msg'] = 'L\'application a été Supprimer ...'
        res['type'] = 'alert-danger'
        res['titre'] = 'Supprimer'
        res['isActive'] = true
        this.$store.commit('setItems', res)
      }).catch(() => {
        res['msg'] = 'L\'application n\'a pas été Supprimer ...'
        res['type'] = 'alert-danger'
        res['titre'] = 'Erreur'
        res['isActive'] = true
        this.$store.commit('setItems', res)
      })
    },
    Ajouter () {
      let uri = `http://52.173.91.140/addtoBundle/` + this.name + '/' + this.key
      var res = {}
      axios.patch(uri, { timeout: 15000 }).then((response) => {
        res['msg'] = 'L\'application a été Modifier ...'
        res['type'] = 'alert-success'
        res['titre'] = 'Modifier'
        res['isActive'] = true
        this.$store.commit('setItems', res)
        this.fetchAll()
      }).catch(() => {
        res['msg'] = 'L\'application n\'a pas été Modifier ...'
        res['type'] = 'alert-danger'
        res['titre'] = 'Erreur'
        res['isActive'] = true
        this.$store.commit('setItems', res)
        this.fetchAll()
      })
      this.isShow = false
      this.open = false
      this.suggestions = []
      this.key = ''
    },
    updateValue () {
      if (this.open === false) {
        this.open = true
        this.current = 0
      }
      let uri = `http://52.173.91.140/search/` + this.key
      axios.get(uri, { timeout: 15000 })
        .then((response) => {
          this.suggestions = response.data
        })
    },
    enter () {
      this.key = this.suggestions[this.current].packageName
      this.open = false
    },
    up () {
      if (this.current > 0) {
        this.current--
      }
    },
    down () {
      if (this.current < this.suggestions.length - 1) {
        this.current++
      }
    },
    isActive (index) {
      return index === this.current
    },
    suggestionClick (index) {
      this.key = this.suggestions[index].packageName
      this.current = index
      this.open = false
    }
  }
}
</script>
<style>
.bgred td{
  background-color: #d9534f !important;
  color: #fff;
}
.modal-dialog {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
  }
</style>
