<template>
  <div>
    <section id="content">
      <section class="vbox">
        <header class="header bg-white b-b b-light">
          <p>Créer une valise</p>
        </header>
        <section class="scrollable padder col-sm-12">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <form v-on:submit.prevent="Ajouter">
                <section class="panel panel-default">
                  <header class="panel-heading">
                    <span class="h4">Ajouter une valise</span>
                  </header>
                  <div class="panel-body">
                    <div class="form-group">
                      <label>Nom de la valise : </label>
                      <input type="text" class="form-control" v-model="parm.name" required>
                    </div>
                  </div>
                  <footer class="panel-footer text-right bg-light lter">
                    <button class="btn btn-success btn-s-xs">Ajouter</button>
                  </footer>
                </section>
              </form>
            </div>
          </div>
        </section>
      </section>
    </section>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      parm: {}
    }
  },
  methods: {
    closeAlert () {
      this.isActive = false
    },
    Ajouter () {
      let uri = 'http://52.173.91.140/bundles/' + this.parm.name
      var res = {}
      axios.post(uri, { timeout: 15000 }).then((response) => {
        res['msg'] = 'La valise ' + this.parm.name + ' a été bien Créer ...'
        res['type'] = 'alert-success'
        res['titre'] = 'Succès'
        res['isActive'] = true
        this.$store.commit('setItems', res)
        this.$router.push('/bundles/' + this.parm.name)
      }).catch((error) => {
        res['msg'] = error
        res['type'] = 'alert-danger'
        res['titre'] = 'Erreur'
        res['isActive'] = true
        this.parm = {'apps': []}
        this.$store.commit('setItems', res)
      })
    }
  }
}
</script>
