<template>
  <div>
    <div class="modal-dialog" v-if="showMod">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" @click="showMod = false">×</button>
          <h5 class="modal-title"><i class="fa  fa-edit"></i> Modifier {{ items[cur].name }}</h5>
        </div>
        <div class="modal-body">
              <form v-on:submit.prevent="Update">
                <section class="panel panel-default">
                  <header class="panel-heading">
                    <span class="h4">Modifier une valise</span>
                  </header>
                  <div class="panel-body">
                    <div class="form-group">
                      <label>Nom de la valise : </label>
                      <input type="text" class="form-control" v-model="newName" required>
                    </div>
                  </div>
                  <footer class="panel-footer text-right bg-light lter">
                    <button class="btn btn-success btn-s-xs">Modifier</button>
                  </footer>
                </section>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-md pull-left btn-default" @click="showMod = false">Fermer</button>
         </div>
      </div>
    </div>
    <section id="content">
      <section class="vbox">
        <header class="header bg-white b-b b-light">
          <p>Liste des valises</p>
        </header>
        <section class="scrollable padder col-sm-12">
          <div class="text-right lter">
            <router-link :to="'/bundles/add'" class="btn btn-s-md btn-warning">Créer une valise</router-link>
          </div>
          <section class="panel panel-default">
            <header class="panel-heading">
              Liste des valises
            </header>
            <div class="table-responsive">
              <table class="table table-striped m-b-none">
                <thead>
                  <tr>
                    <th>#</th>
                    <th width="40%">Nom de la valise</th>
                    <th>nb des Apps</th>
                    <th ></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in items">
                    <td><h5>{{items.indexOf(item)+1}}</h5></td>
                    <td><h5>{{item.name}}</h5></td>
                    <td><h5>{{item.apps.length}}</h5></td>
                    <td><router-link :to="'/bundles/' + item.name" class="btn btn-s-md btn-info">Afficher</router-link></td>
                    <td><a class="btn btn-s-md btn-primary" @click="showModfct(items.indexOf(item))">Modifier</a></td>
                    <td><a href="#" class="btn btn-s-md btn-danger" @click="deleteItem(items.indexOf(item))">Supprimer</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </section>
      </section>
    </section>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      showMod: false,
      items: [],
      newName: '',
      cur: 0
    }
  },
  created () {
    this.fetchAll()
  },
  methods: {
    fetchAll () {
      axios.get('http://52.173.91.140/bundles', { timeout: 15000 }).then((response) => {
        this.items = response.data
      })
    },
    showModfct (id) {
      this.showMod = true
      this.cur = id
      this.newName = this.items[id].name
    },
    deleteItem (id) {
      let uri = `http://52.173.91.140/bundles/` + this.items[id].name
      var res = {}
      axios.delete(uri, { timeout: 15000 }).then((response) => {
        res['msg'] = 'La valise a été Supprimer ...'
        res['type'] = 'alert-danger'
        res['titre'] = 'Supprimer'
        res['isActive'] = true
        this.$store.commit('setItems', res)
        this.fetchAll()
      }).catch(() => {
        res['msg'] = 'La valise n\'a pas été Supprimer ...'
        res['type'] = 'alert-danger'
        res['titre'] = 'Erreur'
        res['isActive'] = true
        this.$store.commit('setItems', res)
        this.fetchAll()
      })
    },
    Update () {
      let uri = 'http://52.173.91.140/changeName/' + this.items[this.cur].name + '/' + this.newName
      var res = {}
      axios.patch(uri, { timeout: 15000 }).then((response) => {
        res['msg'] = 'La valise a été Modifier ...'
        res['type'] = 'alert-success'
        res['titre'] = 'Modifier'
        res['isActive'] = true
        this.$store.commit('setItems', res)
        this.fetchAll()
      }).catch(() => {
        res['msg'] = 'La valise n\'a pas été Modifier ...'
        res['type'] = 'alert-danger'
        res['titre'] = 'Erreur'
        res['isActive'] = true
        this.$store.commit('setItems', res)
        this.fetchAll()
      })
      this.showMod = false
    }
  }
}
</script>
<style>
.modal-dialog {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
  }
</style>
