<template>
  <div class="vbox">
    <table class="notification">
      <tr v-for="item in $store.state.items">
        <div :class="'alert '+item.type" v-if="item.isActive">
          <button type="button" class="close" @click="$store.commit('desactive', $store.state.items.indexOf(item))">×</button>
          <h4>{{item.titre}}</h4>
          <p>{{item.msg}}</p>
        </div>
      </tr>
    </table>
    <header class="bg-dark dk header navbar navbar-fixed-top-xs">
      <div class="navbar-header aside-md">
        <a href="/" class="navbar-brand" ><img src="~/assets/img/logo.png" class="m-r-sm">Reskin</a>
      </div>
      <ul class="nav navbar-nav hidden-xs">
        <li class="dropdown">
          <a href="#" class="dker">
            <span class="font-bold">Android application MANAGER APP</span>
          </a>
        </li>
        <li class="dropdown" v-bind:class="{ open: search }">
          <a href="#" @click="search = !search"><i class="fa fa-fw fa-search"></i></a>
          <section class="dropdown-menu aside-xl animated fadeInUp">
            <section class="panel bg-white">
              <form v-on:submit.prevent="Search">
                <div class="form-group wrapper m-b-none">
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="motKey" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-info btn-icon"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </div>
              </form>
            </section>
          </section>
        </li>
      </ul>
    </header>
    <section class="hbox stretch">
      <aside class="bg-light lter b-r aside-md hidden-print" id="nav">
        <section class="vbox">
          <section class="w-f scrollable">
            <div class="slim-scroll">
              <!-- nav -->
              <nav class="nav-primary hidden-xs">
                <ul class="nav">
                  <li  v-bind:class="{ active: showBundles }">
                    <a href="#bundles" @click="showBundles = !showBundles" v-bind:class="{ active: showBundles }">
                      <i class="fa fa-columns icon">
                        <b class="bg-warning"></b>
                      </i>
                      <span class="pull-right">
                        <i class="fa fa-angle-down text"></i>
                        <i class="fa fa-angle-up text-active"></i>
                      </span>
                      <span>Valises</span>
                    </a>
                    <ul class="nav lt" v-if="showBundles">
                      <li>
                        <router-link :to="'/bundles/add'">
                          <i class="fa fa-angle-right"></i>
                          <span>créer une valise</span>
                        </router-link>
                      </li>
                      <li>
                        <router-link :to="'/bundles/'">
                          <i class="fa fa-angle-right"></i>
                          <span>liste des valises</span>
                        </router-link>
                      </li>
                    </ul>
                  </li>
                  <li  v-bind:class="{ active: showApps }">
                    <a href="#Apps" @click="showApps = !showApps" v-bind:class="{ active: showApps }">
                      <i class="fa fa-android icon">
                        <b class="bg-success"></b>
                      </i>
                      <span class="pull-right">
                        <i class="fa fa-angle-down text"></i>
                        <i class="fa fa-angle-up text-active"></i>
                      </span>
                      <span>Apps</span>
                    </a>
                    <ul class="nav lt" v-if="showApps">
                      <li v-for="item in items">
                        <router-link :to="'/bundles/' + item.name">
                          <i class="fa fa-angle-right"></i>
                          <span>{{item.name}}</span>
                        </router-link>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </section>
        </section>
      </aside>
      <nuxt/>
    </section>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      showBundles: true,
      showApps: false,
      items: [],
      search: false,
      motKey: ''
    }
  },
  created () {
    axios.get('http://52.173.91.140/bundles', { timeout: 15000 }).then((response) => {
      this.items = response.data
    })
  },
  methods: {
    Search () {
      this.search = false
      let uri = `http://52.173.91.140/search/` + this.motKey
      axios.get(uri, { timeout: 5000 })
        .then((response) => {
          this.$store.commit('setKey', response.data)
          this.$router.push('/search')
        })
    }
  }
}
</script>
<style type="text/css">
  .notification{
   overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    right: 30px;
    bottom: 20px;
    width: 250px;
  }
</style>
