<template>
	<div>
    <div class="modal-dialog" v-if="isShow">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" @click="isShow = false">×</button>
          <h5 class="modal-title"><i class="fa  fa-edit"></i> Ajouter une application </h5>
        </div>
        <div class="modal-body">
        	  <form v-on:submit.prevent="Ajouter">
                <div class="panel-body">
                    <div class="form-group" v-bind:class="{'open':open}">
                      <label class="col-md-4">Nom de la valise : </label>
                          <select class="btn btn-sm btn-default col-md-4" v-model="buil">
                              <option v-for="bb in buld">{{bb.name}}</option>
                          </select>
                    </div>
                  </div>
                  <footer class="panel-footer text-right bg-light lter">
                    <button type="submit" class="btn btn-success btn-s-xs">Ajouter</button>
                  </footer>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-md pull-left btn-default" @click="isShow = false">Fermer</button>
         </div>
      </div>
    </div>
            <div class="table-responsive">
              <table class="table table-striped m-b-none">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Logo</th>
                    <th>Nom de l'application</th>
                    <th>packageName</th>
                    <th>categories</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="app in $store.state.key" v-bind:class="{ bgred: app.suspended }">
                    <td><h5>{{$store.state.key.indexOf(app)+1}}</h5></td>
                    <td><img :src="app.logo" height="35px"></td>
                    <td><h5>{{app.name}}</h5></td>
                    <td><h5>{{app.packageName}}</h5></td>
                    <td><span v-for="cat in app.categories">{{cat}}</span></td>
                    <td><a href="#" class="btn btn-s-md btn-primary" @click="isShowAdd($store.state.key.indexOf(app))">Ajouter</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
	</div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      isShow: false,
      open: false,
      cur: 0,
      buld: [],
      buil: 'hhh'
    }
  },
  created () {
    axios.get('http://52.173.91.140/bundles', { timeout: 5000 }).then((response) => {
      this.buld = response.data
    })
  },
  methods: {
    isShowAdd (id) {
      this.isShow = true
      this.cur = id
    },
    Ajouter () {
      var pq = this.$store.state.key[this.cur].packageName
      let uri = `http://52.173.91.140/addtoBundle/` + this.buil + '/' + pq
      var res = {}
      axios.patch(uri, { timeout: 5000 }).then((response) => {
        res['msg'] = 'L\'application a été Modifier ...'
        res['type'] = 'alert-success'
        res['titre'] = 'Modifier'
        res['isActive'] = true
        this.$store.commit('setItems', res)
      }).catch(() => {
        res['msg'] = 'L\'application n\'a pas été Modifier ...'
        res['type'] = 'alert-danger'
        res['titre'] = 'Erreur'
        res['isActive'] = true
        this.$store.commit('setItems', res)
      })
      this.isShow = false
      this.open = false
    }
  }
}
</script>
<style>
.bgred td{
  background-color: #d9534f !important;
  color: #fff;
}
.modal-dialog {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
  }
</style>
